<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.baisibudejie" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 应用程序保持后台唤醒 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".GlobalApp"
        tools:replace="name,icon,label,theme">

        <!-- 设置友盟appkey -->
        <meta-data android:value="5836a705bbea837809001aeb" android:name="UMENG_APPKEY"/>
        <!-- 设置推广渠道名称,channel id自定义 -->
       <!-- <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>-->

        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoadingActivityTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".module.listview.MainListViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".module.recycleview.MainRecycleViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/ActivityTheme">
        </activity>

        <activity
            android:theme="@style/ImageActivityTheme"
            android:name="com.kymjs.gallery.KJGalleryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".module.mvp.activity.BuDeJieMvpActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/ActivityTheme">
        </activity>

        <activity
            android:name=".module.mvvm.MvvmRecycleViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/ActivityTheme">
        </activity>

        <activity
            android:name=".module.StaticImageShowActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/ActivityTheme">
        </activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >

        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".share.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- broadcast reveiver -->
        <receiver android:name=".receiver.NetWorkBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
